.product {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    &__description {
        padding-left: 60px;
    }
    &__descHeader {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 157%;
        color: #424242;
    }
    &__title {
        font-family: "Noto Sans Georgian", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 157%;
        color: #01996d;
        max-width: 584px;
    }
    &__desc {
        font-family: "Lato", sans-serif;
        font-size: 20px;
        line-height: 31px;
        color: #484848;
        max-width: 535px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
}
.photo {
    background-color: rgba(1, 153, 109, 0.2);
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
        display: block;
    }
    .customized {
        position: absolute;
        bottom: -55px;
        left: -117px;
        background-color: white;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 55px;

        filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));

        &__header {
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 14.49px;
            line-height: 157%;
            margin-bottom: 7px;
            position: relative;
            &::after {
                content: "";
                bottom: -7px;
                left: 0;
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: black;
            }
        }
        &__imgWrap {
            width: 57px;
            height: 57px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto;
        }
        &__mane {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 11.9351px;
            line-height: 157%;
        }
        &__contacts {
            font-family: Georgia;
            font-style: normal;
            font-weight: bold;
            font-size: 15.9292px;
            line-height: 157%;
            margin: 20px 0px;
        }
        &__list {
            margin: 0;
            padding: 0;
        }
        &__item {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 10.6195px;
            line-height: 157%;
            margin-bottom: 15px;
        }
    }
}
@media screen and (max-width: 1300px) {
    .btnFullSite {
        font-size: 17px;
    }
}
@media screen and (max-width: 426px) {
    .product {
        &__description{
            padding:0;
        }
        padding: 50px 0px;
        &__descHeader {
            font-size: 16px;
            line-height: 17px;
        }
        &__title {
            font-size: 25px;
            line-height: 25px;
        }
        &__desc {
            padding-top: 7px;
            font-size: 15px;
            line-height: 17px;
        }
    }
    .photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        .customized {
            position: relative;
            bottom: 0;
            left: 0;
            margin-bottom: 5px;
        }
    }
}
